version: '2'

services:

  php:
    image: php:7.1-apache
    working_dir: /var/www
    command: >
      bash -c "sed -ri -e 's!/var/www/html!/var/www/public!g'
      /etc/apache2/sites-available/*.conf; apache2-foreground"
    volumes:
      - ./:/var/www/
    ports:
      - 8080:80

  selenium:
    image: selenium/standalone-firefox-debug:3.11.0-californium
    environment:
      - VNC_NO_PASSWORD=1
    ports:
      - 4444:4444
      - 5900:5900

  vnc:
    image: dougw/novnc
    command: >
      bash -c "cd /root/noVNC/build; cp vnc.html index.html;
      supervisord -c /etc/supervisor/conf.d/supervisord.conf"
    links:
      - selenium
    ports:
      - 8090:8081